# --- ROS Build Artifacts ---
.catkin_tools/
build/
devel/
log/
*.log
.rosinstall
.rosinstall.bak
.catkin_workspace
*/.catkin_tools/
*/build/
*/devel/
*/install/

# --- Python ---
*.pyc
__pycache__/

# --- VS Code / Editors ---
.vscode/
.idea/
*.swp

# --- Large/Binary Files (Optional, unless you really need them) ---
*.bag
*.pcd




